html,
body{
	width: 100%;
  height: 100%;
}

body{
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
	margin: 0;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

		/*font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-weight: 700;*/
    }

header{
	background-image:  url('../img/drvca.jpg');
  	background-size: cover;
	width: 100%;
	height: 100%; /* za media */
    /*
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 40px 10px;
    background-color: #ffffff; */}


header .header-content{
	position: relative;
	width: 100%;
	height: 100%;
}

/*

header .header-content .header-content-inner h1{
	padding-top: 0px;
	font-weight: 700;
	color: #33CC33;
	font-size: 50px;
}

header .header-content .header-content-inner hr{
	padding: 30px;
    margin: 30px auto;
    max-width: 250px;
    border-color: #33CC33;
    border-width: 3px;
}

header .header-content .header-content-inner p {
    margin-top: 170px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

*/

section {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}


.navigacija{
	background-color: #ffffff;
	font-weight: bold;
}




#o_nama{
	background-color: #33CC33;
	color: #FFFF00;
	display: block;
	vertical-align: center;
	height: 500px;
}

.poravnanje{
	margin-top: 60px;
	margin-bottom: 50px;  
	text-transform: none;
	vertical-align: center;
}

#o_nama img{
	margin-top: 70px;
	margin-left: 150px;
	width: 100%;
}

#o_nama .gumb{
	color: #FFFF00;
	/*margin-top: 15px;*/
    border: solid 2px #FFFF00;
    font-size: 15px;
    float:  bottom left;
/*    background: 0 0;
*/}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

#statistika .gumb-2{
  border: 1px solid #ffffff;
  cursor: pointer;
  top: 0px;
  margin-bottom: 40px;
}

.gumb-2:visited {
	border: solid 3px #FFFF00;
    color: #33CC33;
    background-color: #FFFF00;
    top: 10px;
}

.gumb-2:focus,
.gumb-2:active,
.gumb-2.active {
    border: solid 1px #ffffff;
    color: #33CC33;
    background: transparent;
}


#slike{
	position: relative;
	display: inline-block; 
	flex-wrap: wrap; 
	justify-content: center;
}

#kontakt {
	background-color: #FFFF00;
	color: #33CC33;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

#kontakt h3{
	font-weight: bold;
}

.zavrsni{
	color:  #FFFF00;
	text-align: center;
	position: relative;    
    background-color: #33CC33;
    padding: 10px 0;
}

#aktivnosti{
		display: inline;
		position: relative;
		border: 0px;
		padding: 0px;
		margin: 0px;
}

#aktivnosti img{
	width: 100%;
}

.col-lg-4 {
		padding: 0px;
}

#chartContainer {
	background-size: cover;
	width: 50%;
	height: 50%;
	margin-bottom: 25px;
	margin-right: 0px;
}